<!DOCTYPE html>
<html>
	<head>
		<title>Oneday</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="operation">
			<a href="#" class="button button-default">记一个</a>
		</div>
		<div id="date_sidebar">
			<div class="sidebar">
				<% @day_months.sort.each do |month, days| %>
				<ul class="nav nav-list">
					<li class = 'month'>  <a style="color:#000000;" href="#" onclick="return false"><%= month.strftime('%B') %></a></li>
					<li class="divider"></li>
					<% for day in days %>			
					<li>  <a href="#"><%=  DateTime.parse(day.time.to_s).strftime('%d/%m ').to_s %></a></li>
					<% end %>
				</ul>
				<% end %>
			</div>
		</div>
		<div id="task_list">
			<%= yield :task_list%>
		</div>
		<div id="record_content">
			<%= yield :record_content%>
		</div>
		
	</body>
</html>